# =============================================================================
# = VIM IGNORES
# =============================================================================

**.swp

# =============================================================================
# = PROJECT-SPECIFIC IGNORES
# =============================================================================

# Ignore temporary output
/src/tmp

# Ignore project output
/src/output

# =============================================================================
# = MISC IGNORES
# =============================================================================

# Ignore bak (backup) files
**.bak

