
<!-- External Site Menu using Icons -->
<div class="pure-g pure-hidden-tablet pure-hidden-phone">
    <div class="pure-u-1-4">
        <a href="<%= @site.config[:twitter] %>">
            <i class="fa fa-twitter-square fa-3x hover-glow"></i>
        </a>
    </div>
    <div class="pure-u-1-4">
        <a href="<%= @site.config[:linkedin] %>">
            <i class="fa fa-linkedin-square fa-3x hover-glow"></i>
        </a>
    </div>
    <div class="pure-u-1-4">
        <a href="<%= @site.config[:googleplus] %>">
            <i class="fa fa-google-plus-square fa-3x hover-glow"></i>
        </a>
    </div>
    <div class="pure-u-1-4">
        <a href="<%= @site.config[:github] %>">
            <i class="fa fa-github-square fa-3x hover-glow"></i>
        </a>
    </div>
</div>

