---
title: Articles
kind: page
index: 3
---


<h1 class="content-subhead">Articles by Most Recent</h1>
<% sorted_articles.each do |article| %>
    <%= render 'article_snippet', construct_article_render_data(article) %>
<% end %>

