<!-- Contains the body segment of the HTML document -->
<body>
    <div class="pure-g-r" id="layout">
        <%= render 'sidebar' %>

        <% render 'content' do %>
            <%= yield %>
        <% end %>
    </div>

    <!-- Deploy our scripts -->
    <script src="/scripts/prism.js"></script>
</body>

