<!-- Main container for all site content (excluding sidebar) -->
<div class="pure-u-1">
    <div class="content">
        <%= yield %>
    </div>
    <footer>
        <!-- Copyright information goes here -->
    </footer>
</div>

