<!-- Contains all information contained in the head of the HTML doc -->
<head>
    <%= render 'meta' %>

    <title>Senkbeil - <%= @item[:title] %></title>

    <!-- Import our fancy YUI stylesheet -->
    <link rel="stylesheet" href="/css/pure-0.3.0.min.css">

    <!-- Import the lovely icons from FontAwesome -->
    <link href="/css/font-awesome-4.0.3.min.css" rel="stylesheet">

    <!-- Import Prism CSS -->
    <link rel="stylesheet" href="/css/prism.css">

    <!-- Import our own CSS -->
    <link rel="stylesheet" href="/css/overall.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/menu.css">

    <style type="text/css">
        .icon-container {
            text-align: left;
        }
        .hover-glow:hover, .hover-glow:active {
            color: #1f8dd6;
        }
    </style>
</head>

