<!-- Main sidebar composed of internal menus -->
<div class="sidebar pure-u" id="menu">
    <header class="header">
        <%= render 'menus/title_menu' %>

        <%= render 'menus/nav_menu' %>

        <%= render 'menus/externals_menu' %>
    </header>
</div>

