<!-- Main sidebar composed of internal menus -->
<div class="sidebar pure-u" id="menu">
    <header class="header">
        <%= render 'menus/title' %>

        <%= render 'menus/navigation' %>

        <%= render 'menus/externals' %>
    </header>
</div>

